.App {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  color: aliceblue;
}

.AppHeader {
  background: linear-gradient(#222 50%, #555);
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.AppTitle {
  width: 650px;
  font-size: 24px;
}

.AddButton {
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  opacity: 1;
  background: url(/Add.svg);
  background-repeat: no-repeat;
}

.AppBody {
  height: 90%;
  background-color: #555;
  display: flex;
  justify-content: center;
}