.EditButton {
  display: inline-block;
  border: none;
  outline: none;
  width: 26px;
  height: 26px;
  margin: 2px;
  opacity: 1;
  background: url(/Edit.svg);
  background-repeat: no-repeat;
  margin-left: 17px;
  margin-right: 15px;
}

.DeleteButton {
  display: inline-block;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  margin-left: 12px;
  opacity: 1;
  background: url(/Delete.svg);
  background-repeat: no-repeat;
}

.ListItem {
  margin-top: 30px;
  overflow-x: auto;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 700px;
  border: 1px solid #ddd;
}

th, td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #333;
}