form {
  display: table;
  margin-top: 50px;
  width: 300px;
}

p {
  display: table-row;
}

label {
  display: table-cell;
  width: 115px;
}

input {
  display: table-cell;
  background-color: transparent;
  color: aliceblue;
  margin: 10px;
  margin-right: 0px;
}

.SubmitButton {
  width: 300px;
}

.form {
  overflow-x: auto;
  white-space: nowrap;
}