body {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: auto;
}

#root {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
